@model ConfirmMailViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
<div class="container">
 <br />
 <br />
 <form method="post">
     <h2>Taşınan Mail Bilgisi : @ViewBag.v</h2>
     <br />
     <label> Kullanıcı ID Bilgisi </label>
     <br />
     <br />
     <input type="text" class="form-control" asp-for="Mail " value="@ViewBag.v"/>
     <br />
     <br />
     <label> Mail Adresinize Gelen 6 Haneli Kodu Giriniz </label>
     <br />
     <br />
     <input type="text" class="form-control" asp-for="ConfirmCode" />
     <br />
     <br />
     <button class="btn btn-primary">Hesabı Doğrula</button>
 </form>
</div>  